@use "globals" as g;
@use "util" as u;

.main__img {
  background: url("../assets/desktop.jpg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 128, 0, 0.212);
    transition: all 0.5s;
    transform: rotate(0deg);
    transform-origin: top left;
  }

  &:hover::after {
    transform: rotate(90deg);
    transform-origin: top left;
    border-radius: 50%;
  }

  @include u.breakpoint-down(700px) {
    background: url("../assets/mobile.jpg");
    background-position: center;
    background-size: cover;
  }
}
